@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

html {
    text-align: center;
    background-image: url("https://preview.redd.it/dnlz6c3xni951.jpg?width=960&crop=smart&auto=webp&s=2c1d0530b4300ce4e0fe7fbc1c5d085ea5114dcc");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: rgb(219, 32, 32);
    font-family: 'Palette Mosaic', cursive;
    font-size: 1.5em;
}